 *{
   margin : 0;
   padding : 0;
}
body {
   text-align : center;
}
h2 {
   text-align : left;
   font-family : Lucida Sans Unicode;
   font-size : 25px;
   font-weight : 450;
   padding-bottom : 20px;
}
#dropbox {
   height : 22px;
   font-family : arial;
   font-size : 17px;
   background-color: white;
}
#txt, #tbletxt {
   padding-top : 24px;
   font-family : Lucida Sans Unicode;
   font-size : 16px;
   line-height : 1.6;
}
table {
   border-collapse : collapse;
   width : auto; 
   margin : auto;
   border-width : 10px;
}
td {
   padding : 8px;
   height : 30px;
   border : 2px solid #ddd;
}
#token, #type, #newtype {
   padding : 3px;
   width : 65px;
    margin-bottom : 22px;
}
button{
   margin-top : 24px;
   font-size : 15px;
   padding : 2px;
   padding-left : 6px;
   padding-right : 6px;
}
#status {
   font-size : 20px;
} 

#newtypetxt {
   font-family : Lucida Sans Unicode;
   font-size : 16px;
}
#newtypestmt {
   font-family : Lucida Sans Unicode;
   font-size : 16px;
   padding-top : 10px;
   padding-bottom : 20px;
} 