*{
   margin : 0;
   padding : 0;
}
body {
   margin-left : 140px;
   background-color : #001133;
}
h3 {
   font-family : arial;
   font-size : 23px;
   text-transform : uppercase;
   background-color : dodgerblue;
   color : white;
   font-weight : 550;
   margin-right : 142px;
   padding : 5px;
   padding-left : 23px;
   border : 1px solid white;
}
p {
   font-family : arial;
   font-size : 17px;
   color : white;
   padding : 5px;
   padding-left : 10px;
}
.back-imag {
   margin-right : 143px;
   padding : 15px;
   padding-left : 28px;
   background-color : #e9f6fb;
}
.back-imag h1 {
   font-size : 48px;
   font-family : Palatino Linotype;
   font-weight : 550;
}   
.content {
   background-color : white;
   margin-right : 143px;
   padding-left : 27px;
   padding-bottom : 18px;
}   
table{
   width : 65%;
}
td {
   padding : 5px;
}   
.content p{
   text-transform : uppercase;
   font-size : 16px;
   color : black;
   text-decoration : underline;
}

h2 {
   background-color : white;
   margin-right : 143px;
   font-family : arial;
   font-size : 25px;
   font-weight : 450;
   padding-left : 42px;
}