 h2 {
     background-color: white;
     margin-right: 143px;
     font-family: arial;
     font-size: 25px;
     font-weight: 450;
     padding-left: 42px;
 }

 .dropdown {
     text-align: center;
     margin-right: 143px;
     padding-top: 20px;
     background-color: white;
     padding-bottom: 300px;
 }

 #dropbox {
     height: 22px;
     font-family: arial;
     font-size: 17px;
 }

 .txt1 p {
     color: #0000AA;
     font-family: arial;
     font-weight: 700;
     font-size: 16px;
     margin-right: 143px;
     padding-top: 80px;
     margin-left: 80px;
     background-color: white;
 }

 .txt2 p {
     color: #0000FF;
     font-family: arial;
     font-size: 15px;
     margin-right: 143px;
     font-style: italic;
     margin-left: 86px;
     background-color: white;
 }
